{%- if page %}
{%- set resource = page %}
{%- elif section %}
{%- set resource = section %}
{%- endif %}

<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <meta name="author" content="{% if resource.extra.author %}{{ resource.extra.author }}{% else %}{{ config.extra.author }}{% endif %}">
  <meta name="description" content="{% if resource.description %}{{ resource.description }}{% else %}{{ config.extra.description }}{% endif %}">
  <meta name="keywords" content="{% if resource.extra.keywords %}{{ resource.extra.keywords }}{% else %}{{ config.extra.keywords }}{% endif %}">

  <link rel="canonical" href="{{ config.base_url | safe }}{{ resource.path | safe }}">

  {%- set preview_image = config.extra.preview_image -%}
  {%- if resource.extra.preview_image -%}
  {%- set preview_image = resource.extra.preview_image -%}
  {%- elif resource.assets %}
  {%- set basename = resource.assets[0] | split(pat='/') | last %}
  {%- if basename is ending_with('.jpg') or basename is ending_with('.jpeg') or basename is ending_with('.png') %}
  {%- set preview_image = resource.path ~ basename -%}
  {%- endif %}
  {%- endif %}
  <meta property="og:image" content="{{ get_url(path=preview_image) }}">
  <meta property="og:url" content="{{ current_url | safe }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ resource.title }}">
  {%- if resource.description -%}
  <meta property="og:description" content="{{ resource.description }}">
  {%- endif -%}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ resource.title }}">
  {%- if resource.description -%}
  <meta name="twitter:description" content="{{ resource.description }}">
  {%- endif -%}

  {% if resource.date -%}
  <meta property="article:published_time" content="{{ resource.date }}">
  {%- endif -%}

  {%- block meta -%}{%- endblock %}

  <link href="{{ get_url(path="main.css", cachebust=true) }}" rel="stylesheet" type="text/css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <title>{{ resource.title }}</title>
</head>

<body>
  <header>
    {% include 'top_menu.html' %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% include 'bottom_menu.html' %}
    <p>
      <span>© 2025 <a href="mailto:coach@daria.green">Daria Green</a></span>
      <span>Zürich, Switzerland</span>
    </p>
  </footer>

</body>

</html>
