{% extends 'base.html' %}

{% block content %}

<section class="intro row">

  <div class="intro_image column" title="Daria Green">
  </div>

  <div class="intro_text column">
    <h1>Daria Green</h1>

    <h2 class="profession">Food Addiction Professional</h2>
    <hr class="profession_line">
    </hr>
    <h2 class="profession">Functional Medicine Health Coach</h2>

    <p>
      I understand how difficult it can be to struggle with disordered eating habits and the emotional toll it can take
      on individuals and their loved ones. That's why I'm passionate about helping people overcome their addictions and
      develop a healthier and happier relationship with food. Through a holistic and compassionate approach, I provide
      personalized treatment plans that prioritize physical and emotional wellness. I believe everyone deserves a chance
      to break free from the cycle of addiction and achieve long-term recovery.
    </p>

    <p>
      If you or someone you know is struggling with food addiction, please don't hesitate to reach out. Together, we can
      work towards a brighter and healthier future.
    </p>
  </div>

</section>

<section class="quote">
  If you are or have struggled with any other addiction previously you might be susceptible to sugar impacting your
  brain in a much more serious way.
</section>

<section id="my_approach" class="apply">
  <h3>Let's apply addiction medicine framework</h3>

  <p>
    Sugar addiction is a <strong>complex disease</strong> that can have serious consequences for physical and mental
    health. However, many people may not realize that the principles of addictology, addiction medicine, and substance
    abuse logic can be effectively applied to the <strong>treatment</strong> of sugar addiction and food addiction.
  </p>

  <p>
    <strong>Addictology</strong> is the scientific study of addiction, including its causes, mechanisms, and treatment.
    Addiction medicine is a specialty field of medicine that focuses on the diagnosis, treatment, and prevention of
    substance use disorders. Substance abuse logic involves </strong>the application of scientific knowledge and
    evidence-based practices</strong> to the treatment of addiction.
  </p>

  <p>
    While sugar addiction is not yet officially recognized as a substance use disorder in the DSM-5, it shares many
    similarities with other addictions, such as drug addiction and alcoholism. Like other addictions, sugar addiction
    can cause <strong>changes in the brain</strong> that make it difficult to quit using, even when the person wants to
    stop. Additionally, people with sugar addiction may experience withdrawal symptoms, such as headaches, fatigue, and
    irritability, when they try to cut back or quit.
  </p>

  <p>
    Given these similarities, the principles of addictology can be effectively applied to the treatment of food
    addiction. Treatment may involve a <strong>combination of therapies</strong>, including cognitive-behavioral
    therapy, group therapy, and individual counseling. In some cases, medication may also be used to help manage
    withdrawal symptoms and cravings.
  </p>

  <p>
    One key component of addiction treatment is abstinence, which means completely avoiding the addictive substance. In
    the case of sugar addiction, this may mean avoiding all forms of added sugars and sweeteners, including
    high-fructose corn syrup, table sugar, and artificial sweeteners. By removing the source of the addiction, the brain
    can begin to heal and the person can begin to regain control over their eating habits.
  </p>

  <p>
    In addition to these therapies, weight management may also be an important component of treatment for sugar
    addiction. By helping clients achieve and maintain a healthy weight, we can help them reduce their risk of
    developing chronic health conditions, such as diabetes and heart disease.
  </p>

  <p>
    While sugar addiction is a complex and challenging disease, it can be effectively treated using the principles of
    addictology, addiction medicine, and substance abuse logic. With the right combination of therapies and support,
    clients can achieve lasting recovery and lead happier healthier lives.
  </p>
</section>

<section class="solution row">
  <div id="areas_of_expertise" class="areas_of_expertise column">
    <h3>Areas of Expertise</h3>
    <hr class="profession_line" />
    <ul class="areas_of_expertise">
      <li>Biochemical repair</li>
      <li>Functional Medicine</li>
      <li>Addiction counseling</li>
      <li>Sugar addiction treatment</li>
      <li>Comprehensive assessment</li>
      <li>Motivational interviewing</li>
      <li>Chronic diseases</li>
      <li>Lifestyle medicine</li>
      <li>Environmental medicine</li>
      <li>Mindfulness</li>
      <li>Wellness coaching</li>
    </ul>
  </div>

  <div id="solution" class="solution_text column">
    <h3>Solution</h3>
    <p>
      At the heart of my <strong>addiction treatment model</strong> is the belief that <strong>abstinence from
        sugar</strong> is the most effective way to overcome sugar addiction. Just like with other addictive substances,
      such as drugs or alcohol, the only way to truly break free from the cycle of addiction is to completely eliminate
      the addictive substance from your life.
    </p>

    <p>
      While some people may be able to <strong>moderate their sugar intake</strong>, for others, abstinence is the best
      course of action. This factor is very individual and depends on the stage of progression of the disease. That's
      because sugar addiction can be a complex and deeply ingrained pattern of behavior that's difficult to break. By
      completely eliminating sugar from your diet, you remove the temptation and give yourself the best chance of
      success.
    </p>

    <p>
      Of course, abstinence isn't easy, especially when sugar is so prevalent in our food environment. That's why I
      provide <strong>ongoing support and accountability</strong> to help you stay on track. We'll work together to
      develop coping strategies and alternative behaviors to help you manage cravings and other <strong>symptoms of
        withdrawal</strong>.
    </p>

    <p>
      I also believe that a <strong>holistic approach</strong> to addiction treatment is essential. This means
      addressing not only the physical symptoms of addiction but also the <strong>biochemical, emotional, and
        psychological factors</strong> that may be contributing to the problem. Through cognitive-behavioral therapy,
      motivational interviewing, and other evidence-based techniques, we'll work together to uncover the underlying
      issues that may be driving your addiction.
    </p>

    <p>
      Overall, my goal as a sugar addiction professional and addiction counselor is to provide you with the tools and
      support you need to overcome your addiction and live a healthier, happier life. If you're ready to take the
      <strong>first step toward recovery</strong>, I encourage you to reach out to schedule a consultation.
    </p>
  </div>
</section>


<section id="quiz" class="freedom row">
  <div class="freedom_text column">
    <h3>Gift yourself freedom</h3>

    <p>
      Here's a self-assessment quiz that can help you determine whether you may be struggling with sugar addiction:
    </p>

    <ol>
      <li>Do you find yourself craving sugary foods or drinks, even when you're not hungry?</li>
      <li>Do you often eat sugary foods or drinks to help you feel better when you're feeling stressed or anxious?</li>
      <li>Have you tried to cut back on sugar in the past, only to find that you can't seem to stay away from it for
        very long?</li>
      <li>Do you find yourself eating more and more sugar over time, as your tolerance for it increases?</li>
      <li>Have you ever experienced withdrawal symptoms, such as headaches, fatigue, or irritability, when you try to
        cut back on sugar?</li>
    </ol>

    <p>
      If you answered "yes" to one or more of these questions, you may be struggling with sugar addiction.
    </p>
  </div>

  <div class="freedom_image column" title="Daria with flowers">
  </div>

</section>

<section id="services" class="importance">
  <h3>The importance of comprehensive assessment and treatment</h3>

  <p>
    Sugar addiction is a topic that has garnered a lot of attention in recent years, as more and more people are
    struggling with the negative consequences of excess sugar consumption. From weight gain to insulin resistance to a
    host of other health problems, sugar addiction can wreak havoc on both our physical and mental well-being.
    <strong>But how do you know if you are a sugar addict?</strong> And if you are, what can you do about it?
  </p>

  <p>
    The truth is, sugar addiction can be <strong>difficult to diagnose</strong>. Unlike substance addictions, where
    physical dependence is often obvious, sugar addiction is a more subtle and insidious problem. It can manifest in a
    variety of ways, from constant cravings for sweets to mood swings to difficulty controlling the amount of sugar you
    consume.
  </p>

  <p>
    So how do you know if you have a problem with sugar? One way to start is by examining your relationship with sugar.
    Do you find yourself <strong>constantly craving sweets</strong>, even when you're not hungry? Do you find it
    <strong>difficult to stop eating sugary foods</strong>, even when you know they're not good for you? Do you
    <strong>experience mood swings</strong> or other negative symptoms when you try to cut back on sugar?
  </p>

  <p>
    If you answered yes to any of these questions, you may be having a problem with the way sugar impacts your
    biochemistry. But the diagnosis is not always so clear-cut. There are a number of other factors that can contribute
    to sugar addiction, such as stress, anxiety, and depression. It's important to work with a qualified professional to
    assess your individual situation and determine the <strong>best course of treatment</strong>.
  </p>

  <p>
    Some important tools which can be used to diagnose sugar addiction are the <strong>YFAS (Yale Food Addiction
      Scale)</strong> and <strong>DSM-5 substance abuse criteria</strong>. These criteria are commonly used to diagnose
    substance use disorders, but can also be applied to sugar addiction. The criteria include symptoms such as a
    <strong>loss of control over sugar consumption</strong>, continued use despite negative consequences, and compulsive
    seeking of sugar.
  </p>

  <p>
    In addition to assessing your relationship with sugar, it's also important to consider your overall health and
    well-being. That is where <strong>Functional Medicine</strong> comes in handy. Excess sugar consumption has been
    linked to a wide range of health problems, including obesity, diabetes, heart disease, and more. And we need to
    treat a person as a whole, applying a holistic approach. If you are experiencing any co-occurring health problems,
    it may be a sign that you need to cut back on sugar.
  </p>

  <p>
    So what can you do? The first step is to <strong>seek help from a qualified professional</strong>. This may include
    <strong>working with a counselor</strong> or therapist to address any underlying psychological or emotional issues
    that may be contributing to your addiction. It may also involve <strong>working with a nutritionist</strong> or
    dietitian to develop a healthy eating plan that reduces your sugar intake.
  </p>

  <p>
    In addition to professional help, there are also a number of self-help strategies that can be effective in managing
    sugar addiction. These may include mindfulness practices, such as meditation and deep breathing exercises, as well
    as regular exercise and stress-reduction techniques.
  </p>

  <p>
    In the end, the most important thing is to recognize that <strong>sugar addiction is a real and serious
      problem</strong> that requires attention and care. By taking steps to address your addiction, you can improve your
    health and well-being, and enjoy a more balanced and fulfilling life.
  </p>

</section>

<section class="green_mountains" title="Green Mountains Landscape">
</section>

<section id="cooperation" class="ambition_and_innovation">
  <h3>Ambition and Innovation</h3>

  <p>
    Pioneering the field of food addiction is not easy yet very rewarding. I hold ambitious goals for myself as an
    addiction counselor and leader in my community. Becoming more involved in advocacy work surrounding sugar addiction
    and mental health is very important to finally bring relevant help to the affected individuals. There is still so
    much stigma and <strong>misunderstanding surrounding addiction</strong>, and I want to be a voice for change. By
    participating in advocacy efforts, reaching out to fellow practitioners, and educating medical doctors, I hope to
    help shift public perception and create a more supportive environment for those in recovery.
  </p>

  <p>
    Fortunately, innovative solutions are being developed to tackle addiction and I am involved in bringing cutting-edge
    knowledge to the food addiction space. The solution to a complex problem must be multidisciplinary, therefore
    cooperation with related medical fields is of high importance.
  </p>

  <p>
    All the following practices may highly benefit from food addiction assessment and treatment integration:
  </p>

  <ul>
    <li>bariatric surgery</li>
    <li>obesity treatment clinics</li>
    <li>endocrinology</li>
    <li>cardiology</li>
    <li>gastroenterology</li>
    <li>oncology</li>
    <li>psychiatry</li>
    <li>pediatrics</li>
    <li>neurology</li>
    <li>integrative (biological medicine) clinics</li>
    <li>retreat centers</li>
    <li>substance abuse rehab centers</li>
  </ul>

  <p>
    By addressing the root causes of addiction and focusing on nutrition as a key component of overall health and
    wellness, we can help patients achieve better outcomes and live healthier, happier lives. With continued research
    and collaboration between medical professionals, we can make this a reality for patients across all medical
    specialties.
  </p>

  <p>
    I am committed to staying up-to-date with the latest research and techniques in the field of food addiction
    counseling, and regularly attend conferences and workshops to expand my knowledge and skills. With a deep
    understanding of the neurobiology of addiction and the impact it has on both individuals and their loved ones, I am
    dedicated to providing a holistic approach that addresses all aspects of the disease of addiction.
  </p>

</section>


<section id="contact" class="contact row">
  <div class="contact_text column">
    <h3>Contact Me</h3>

    <ul>
      <li><a href="mailto:coach@daria.green">coach@daria.green</a></li>
      <li><a href="tel:+41782250052">+41 78 225 00 52</a></li>
      <li><a href="https://linkedin.com/in/daria-green/">linkedin.com/in/daria-green</a></li>
    </ul>

    <div class="contact_logo">
    </div>
  </div>

  <div class="contact_image column">
  </div>

</section>

<section class="certificates">
  <div class="ecb" title="European Certification Board, Certified Food Addiction Professional"></div>
  <div class="infact" title="International School for Food Addiction Counceling and Treatment"></div>
  <div class="fmca"
    title="Functional Medicine Coaching Academy (IFM), Functional Medicine Certified Health Coach (FMCHC)"></div>
  <div class="stanford" title="Stanford Center for Health Education, Psychology of Addiction and Recovery"></div>
  <div class="aaap" title="American Academy of Addiction Psychiatry, Clinical Skills for Healthcare Providers"></div>
  <div class="addictiveeating" title="Nutrition Network Addictive Eating Course"></div>
  <div class="world_nutrition_summit" title="World Nutrition Summit Addiction Symposium"></div>
  <div class="labgeeks" title="School of Laboratory Diagnostics in Functional Medicine LAB GEEKS"></div>
</section>


{% endblock content %}