<li role="menuitem">
    <a href="#my_approach">
        My Approach
    </a>
</li>
<li role="menuitem">
    <a href="#areas_of_expertise">
        Areas of Expertise
    </a>
</li>
<li role="menuitem">
    <a href="#solution">
        Solution
    </a>
</li>
<li role="menuitem">
    <a href="#quiz">
        Quiz
    </a>
</li>
<li role="menuitem">
    <a href="#services">
        Services
    </a>
</li>
<li role="menuitem">
    <a href="#cooperation">
        Cooperation
    </a>
</li>
<li role="menuitem">
    <a href="#contact">
        Contact
    </a>
</li>